# Ignore configuration files that contain sensitive information
config/config.json
ecosystem.config.js
docker-compose.yml
api.Dockerfile
celery.Dockerfile
webhook.Dockerfile
database.Dockerfile
SQL/obtain_total_stops.py